
<div  class="nav" >
  
<mat-toolbar-row >

<button mat-button class="dropbtn" fxFlex="31%" ><a [routerLink]="['products']" style="color:white" >Home</a></button>

<div class="dropdown">
    <button  mat-button class="dropbtn">Category</button>
    <div class="dropdown-content">
      <a href="#">Food</a>
      <a href="#">Drinks</a>
      <a href="#">Stationary</a>
    </div>
  </div>

<button mat-button class="dropbtn" fxFlex="35%" ><a [routerLink]="['']" style="color:white" >Signup/Login</a></button>

<button class="dropbtn" mat-button> <a [routerLink]="['superadmin']" style="color:white" >SuperUser</a> </button>

</mat-toolbar-row>
</div>

