
<div class="price">
<h2>Price Details</h2>

</div>


<!--price datails table-->
<mat-card style="height:100%;">

  <div >
   <table >
      <tr>
        <th>ProductName</th>
        <th>Price</th>
        <th>quantity</th>
        <th>+</th>
        <th>X</th>
      </tr>

      <tr *ngFor="let item of items">
        <td>{{item.productname}}</td>
        <td>{{item.price}}</td>
        <td>{{item.quantity}}</td>
        <td><button >+</button></td>
        <td><button >-</button></td>
      </tr>
    
    </table>
  </div>

  








<!--footer-->

<div class="total" >
    TOTAL AMOUNT = {{this.totalPrice()}} $
  </div>


 <div >
  <button class="pay" (click)="totalPrice(); PlaceOrder();"  mat-button>Confirm PAY</button>
 </div>


</mat-card>


