<div>
<h2>Name Of the Category       <button (click)="cartclick()" style="background-color: yellow">cart: {{count}}</button></h2> 
 
</div>


<mat-card >



  <mat-grid-list cols="4" class="grid" >

  <div *ngFor="let Product of Products">
    <mat-grid-tile >
      <ul>
     <img class="img-circle" src={{Product.image}} width="60" height="60">
  
      <div>
     <span id="pro">Name: {{Product.name}}</span> 
      </div>
      <p id="pro">Price: {{Product.price}} $</p>

     <button (click)="additems(Product)" mat-button>Add</button>
     <button (click)="removeitems(Product)" mat-button>remove</button>
    </ul>

    </mat-grid-tile>

     </div>  

    </mat-grid-list>



  </mat-card>

