<div fxLayoutGap="20px"> 


<mat-card class="card" fxFlex="50%" >
    <h2>Add Items</h2>
<div >
<ul><input type="text" placeholder="Item Name" class="textbox"></ul>
<ul><input type="text" placeholder="Quantity" class="textbox"></ul>
<ul><input type="text" placeholder="Price" class="textbox"></ul>
<ul><input type="text" placeholder="ImageLink" class="textbox"></ul>
</div>

<button mat-button>Add</button>

</mat-card>



<mat-card class="order" fxFlex="50%">

<h3>Get Order By ID</h3>
<div>
  <p>OrderID:<input type="text" placeholder="please enter orderid" class="textbox"></p>

  





</div>

</mat-card>


</div>